<p id="notice"><%= notice %></p>

<div class="panel panel-primary">
  <div class="panel-heading">
    <%= @blog_post.title %>
  </div>
  <div class="panel-body">
  by <strong><%= @blog_post.user.email %></strong> 
  <%= @blog_post.blog_entry %>
  <br>
  <br>
  <%= @blog_post.created_at.strftime('%m/%d/%Y %H:%M:%S') %>
  </div>
</div>

<div class="panel panel-success">
  <div class="panel-heading">
    Leave a comment
  </div>
  <div class="panel-body">
  <%= render 'comments/form' %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
  <h2>Comments</h2>
  </div>
  <div class="panel-body">
  <% @blog_post.comments.each do |comment| %>
      <p><strong><%= comment.user.email %></strong> said:</p>
      <br>
      <p><%= comment.comment_entry %></p>
      <%= comment.created_at.strftime('%m/%d/%Y %H:%M:%S') %>
  <% end %>
  </div>
</div>

<div>
  <%= link_to 'Edit', edit_blog_post_path(@blog_post) %> |
  <%= link_to 'Back', blog_posts_path %>
</div>